@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss";

/* 폰트 설정 */
body {
  font-family: "Inter", sans-serif;
}

/* 기본 뷰포트 */
.app-viewport {
  @apply w-[390px] min-h-[844px] mx-auto overflow-auto relative;
}

/* 스크롤 바 숨기기 */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  @apply w-[390px] min-h-[844px] mx-auto overflow-auto relative;
}
